*{margin:0;
    padding:0}

  
  body{
    display: grid;
    grid-template-rows: 20px 115px auto;
    height: 100%;
    background-color:#fafafa;
    color: rgb(109, 108, 108);
    font-family:'Quicksand', sans-serif ;
  }
  html {
    height: 100%;
  }

  :root {
    --white: #FFFFFF;
    --black: #000000;
    --text-input-field: #e9e9e9;
    --strong-orange: #FFA30C;
    --soft-orange: #FFC76A;
    --extrasoft-orange : #FFE6BE;
    --strong-red: #E13030;
    --soft-red: #f99d9d ;
    --input-red: #e7d5d5 ;
    --paint_green: #64CB38;
    --soft_green: #bcf3a4;
    --input_green: #cde7c1;
    
    --crafts_pink: #ED4CAF;
    --soft_pink: #fec9e9;
    --input_pink: #e6dbe1;
    --dance_blue: #62CEDD;
    --soft_blue: #62CEDD;
    --input_blue: #bfe1e4;
    
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 25px;



    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
 

  /* HEADER //////////////////////////////////////*/
  
  #header{
    width:100%;
    overflow:hidden;
    box-shadow: 0 6px 3px -3px gray;
    background: linear-gradient(to top, var(--strong-orange), var(--extrasoft-orange));
    
  }
  
  /*Sirve para centrar el contenido*/
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    max-width:1000px;
    margin:auto;
    overflow:hidden; /*Lo que no cabe en el div no aparece, ver propiedad css overflow*/
    
  }
  
  header .logo{
    
    
    
    float:left;
    width: 30%;
    display: flex;
  }
  
  header nav{
    float:right;
    line-height:100px;
    font-family: 'Signika', sans-serif;
    
  }
  
  header nav a{
    display:inline-block; /*NPI*/
    color: rgb(255, 255, 255);
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 100ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
  }
  
  header nav a:hover{
    background-color: var(--black);
    border-radius:50px;
  }

  img{
    width: 100%;
    padding-top: 20px;
    
  }

  /* SECTION //////////////////////////////////////*/



  .form-container {
      
    display: grid;
    grid-template-columns: 32% 68%;
    width: 830px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 1px 10px 18px rgb(70, 70, 70);
    
  }

  #left-section{
    border-radius: 10px 0px 0px 10px;
    background-color: var(--strong-orange);
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .texto{
    
    font-size: 45px;
    background: linear-gradient(#1497be, #1c2aec);
    color: transparent;
    background-clip: text;
    font-family: 'Rubik Marker Hatch', cursive;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
  }
  #comparte{
    font-size: 38px;
  }
  @keyframes text{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  

 
  .content-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
  }
  .form-container{
    animation: ease-in-out aparecer 2s;
  }

  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    85% {
      transform: scale(1.05);
    }
    to{
      opacity: 1;
      transform: scale(1);
    }
    
  }

  
  .form{
    border-radius: 0px 10px 10px 0px;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 15% 85%;
    
    align-items: center;
    justify-content: center ;
  }

  .form-top{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 8px;
    
    align-items: center;
  }

  .form-bottom{
    width: 500px;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: start;
    
  }

  h1{
    color:rgb(34, 34, 34);
    font-size: var(--lg);
    font-family: 'Akaya Telivigala', cursive;
    
  }

  
  


  /*ESTILO DEL SELECT//////////////////*/

  select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: rgb(56, 56, 56);
  background-color: var(--soft-orange) ;
  background-image: none;
  cursor: pointer;
  font-family: 'Belleza', sans-serif;

}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 12em;
  height: 2.5em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: rgb(255, 255, 255);
}


.second-appearance-1{
  
  display: none;
  width: 100%;
  grid-template-columns: 40% 60%;
  column-gap: 15px;
}
.second-appearance-4{
  
  display: none;
  width: 100%;
  grid-template-columns: 40% 60%;
  column-gap: 15px;
}

.second-appearance-2-3{
  display:none;
  
  width: 100%;

}

.toGrid{
  display: grid;
}

  
/*INPUTS////////////////////////////////////////*/
.label {
  color: #363636;
  font-size: var(--md);
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 15px;
  margin-right: 3px;
  
  
  font-family: 'Akaya Telivigala', cursive;
}
.input {
  
  background-color: var(--text-input-field);
  border: none;
  width: 50%;
  padding: 4px;
  border-radius: 8px;
  height: 20px;
  font-size: var(--sm);
  font-family: 'Belleza', sans-serif;
  
  
}

.input-link {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 20px;
  width: 500px;
  font-family: 'Belleza', sans-serif;
  font-size: var(--sm);
  padding: 4px;
  margin-bottom: 10px;
  
}
.input-genero{
  
  background-color: var(--text-input-field);
  border: none;
  width: 90%;
  padding: 4px;
  border-radius: 8px;
  height: 20px;
  font-size: var(--sm);
  font-family: 'Belleza', sans-serif;
  
  
}

.primary-button {
  display: none;
  background-color: var(--strong-orange);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 40px;
}
.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}


/*RESPONSIVE///////////////////*/

/*Centra el contenido que se encuentra en el header*/
  @media screen and (max-width:1050px){
    header .logo,
    header nav{
      width:100%;
      text-align:center;
      line-height:75px;
    }
    body{
      
      grid-template-rows: 0px 150px auto;
      
    }
  }





  

  /* paleta de colores
  #A1CBFF body - azul claro
  #2D4161 header - azul oscuro
  #CFC9C8 letras header - gris claro